.logout-btn {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #777;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .logout-btn:hover {
    background-color: #555;
  }